Importing the necessary tools

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests
from pandas import DataFrame
from tabulate import tabulate
from bs4 import BeautifulSoup
print ('Request Complete')

Request Complete

Import the database

In [2]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Delete the 1st row with an index of 0

In [3]:
df1 = df.drop(df.index[0])
df1.head()

  Postal Code           Borough                     Neighbourhood
1         M2A      Not assigned                      Not assigned
2         M3A        North York                         Parkwoods
3         M4A        North York                  Victoria Village
4         M5A  Downtown Toronto         Regent Park, Harbourfront
5         M6A        North York  Lawrence Manor, Lawrence Heights

Detete the rows that have "Not Assigned as a Borough"

In [5]:
df2 = df1[df1.Borough != 'Not assigned']
df2.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Change cells that have a Borough but a "Not Assigned" Neighborhood, make the Neighborhood the same as the Borough

In [6]:
pd.options.mode.chained_assignment = None
df2.Neighbourhood[df2.Neighbourhood == "Not assigned"] = df2.Borough
df2.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Combine the Neighborhoods with the same Boroughs

In [7]:
df3 = df2.groupby(['Postal Code','Borough'])['Neighbourhood'].agg(lambda x: tuple(x)).reset_index()
df3.head()

  Postal Code      Borough                              Neighbourhood
0         M1B  Scarborough                          (Malvern, Rouge,)
1         M1C  Scarborough  (Rouge Hill, Port Union, Highland Creek,)
2         M1E  Scarborough       (Guildwood, Morningside, West Hill,)
3         M1G  Scarborough                                  (Woburn,)
4         M1H  Scarborough                               (Cedarbrae,)