Importing the necessary tools

In [15]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests
from pandas import DataFrame
from tabulate import tabulate
from bs4 import BeautifulSoup
print ('Request Complete')

Request Complete

Import the database

In [16]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Delete the 1st row with an index of 0

In [17]:
df1 = df.drop(df.index[0])
df1.head()

  Postal Code           Borough                     Neighbourhood
1         M2A      Not assigned                      Not assigned
2         M3A        North York                         Parkwoods
3         M4A        North York                  Victoria Village
4         M5A  Downtown Toronto         Regent Park, Harbourfront
5         M6A        North York  Lawrence Manor, Lawrence Heights

Detete the rows that have "Not Assigned as a Borough"

In [18]:
df2 = df1[df1.Borough != 'Not assigned']
df2.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Change cells that have a Borough but a "Not Assigned" Neighborhood, make the Neighborhood the same as the Borough

In [19]:
pd.options.mode.chained_assignment = None
df2.Neighbourhood[df2.Neighbourhood == "Not assigned"] = df2.Borough
df2.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Combine the Neighborhoods with the same Boroughs

In [20]:
df3 = df2.groupby(['Postal Code','Borough'])['Neighbourhood'].agg(lambda x: tuple(x)).reset_index()
df3.head(10)

  Postal Code      Borough                                      Neighbourhood
0         M1B  Scarborough                                  (Malvern, Rouge,)
1         M1C  Scarborough          (Rouge Hill, Port Union, Highland Creek,)
2         M1E  Scarborough               (Guildwood, Morningside, West Hill,)
3         M1G  Scarborough                                          (Woburn,)
4         M1H  Scarborough                                       (Cedarbrae,)
5         M1J  Scarborough                             (Scarborough Village,)
6         M1K  Scarborough     (Kennedy Park, Ionview, East Birchmount Park,)
7         M1L  Scarborough                 (Golden Mile, Clairlea, Oakridge,)
8         M1M  Scarborough  (Cliffside, Cliffcrest, Scarborough Village We...
9         M1N  Scarborough                     (Birch Cliff, Cliffside West,)

Get geospacial data from file

In [21]:
! pip install geocoder

Geospatial_data = pd.read_csv('http://cocl.us/Geospatial_data')

Geospatial_data.rename(columns={'Postal Code': 'Postcode'}, inplace=True)

Geospatial_data.head()

Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [22]:
import pandas as pd # library for data analsysis
print ('panda installed')

panda installed

In [23]:
Geospatial_data = pd.read_csv('http://cocl.us/Geospatial_data')

Geospatial_data.head(12)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849

Merge the dataframes to build he required coordinates with Neighborhoods and Boroughs

In [24]:
Merged_df_with_coordinates = pd.merge(df3, Geospatial_data, how='inner', on = 'Postal Code')
Merged_df_with_coordinates.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"(Malvern, Rouge,)",43.806686,-79.194353
1,M1C,Scarborough,"(Rouge Hill, Port Union, Highland Creek,)",43.784535,-79.160497
2,M1E,Scarborough,"(Guildwood, Morningside, West Hill,)",43.763573,-79.188711
3,M1G,Scarborough,"(Woburn,)",43.770992,-79.216917
4,M1H,Scarborough,"(Cedarbrae,)",43.773136,-79.239476
5,M1J,Scarborough,"(Scarborough Village,)",43.744734,-79.239476
6,M1K,Scarborough,"(Kennedy Park, Ionview, East Birchmount Park,)",43.727929,-79.262029
7,M1L,Scarborough,"(Golden Mile, Clairlea, Oakridge,)",43.711112,-79.284577
8,M1M,Scarborough,"(Cliffside, Cliffcrest, Scarborough Village We...",43.716316,-79.239476
9,M1N,Scarborough,"(Birch Cliff, Cliffside West,)",43.692657,-79.264848